<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.navjot.finalprojectapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_run2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_run2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".BMIActivity" />
        <activity android:name=".PedometerActivity" /> <!-- <activity android:name=".ProfileNewUserActivity"></activity> -->
        <activity android:name=".ProfileShowDataActivity" />
        <activity android:name=".ProfileDashboardActivity" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlanFourActivity" />
        <activity android:name=".PlanThreeActivity" />
        <activity android:name=".PlanTwoActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PlanOneActivity" />
        <activity android:name=".PlanActivity" />
        <activity android:name=".DashboardActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="Final Maps" />
        <activity android:name=".MainActivity" />
        <activity android:name=".viewcontroller.BooksActivity" />
        <activity android:name=".viewcontroller.TechCrunchNewsActivity" />
        <activity android:name=".viewcontroller.DetailedNewsActivity" />

        <activity android:name=".NewNotificationActivity" />
        <activity android:name=".NewRepeatingActivity"></activity>
        <receiver android:name=".NewNotificationReciever"/>
    </application>

</manifest>